/* Start Css Globale  Rules */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-color: #ffffff;
    --secondary-color: #0b093b;
    --third-color: #7620ff;
    --section-padding: 50px;
    --color-background: #f5f5f5;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1140px;
    }
}

/* Start Compenent */
.main-heading {
    margin-bottom: var(--section-padding);
    text-align: center;
}

.main-heading h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
    color: var(--secondary-color);
}

.main-heading p {
    font-weight: 400;
    font-size: 13px;
    line-height: 2.30;
    color: var(--secondary-color);
}

@media (min-width: 992px) {
    .main-heading {
        text-align: left;
    }

    .main-heading h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .main-heading p {
        max-width: 760px;
        font-size: 15px;
        line-height: 2;
    }
}

a.links {
    display: block;
    text-decoration: none;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    font-size: 13px;
}

/* End Compenent */


/* End Css Globale  Rules */
/* Start Header */

header {
    background-color: var(--white-color);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header .container {
    background-color: var(--white-color);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container a.logo svg text {
    font-weight: 600;
    fill: var(--secondary-color);
    transition: fill 0.3s;
}

header .container a.logo:hover svg text {
    fill: var(--third-color);
}

header .container i {
    cursor: pointer;
    font-size: 25px;
}

header .container nav {
    background-color: var(--secondary-color);
    flex-direction: column;
    gap: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0 60px 60px 40px;
}

header .container nav.show {
    display: flex;
}

header .container nav ul:last-child {
    display: flex;
    align-items: center;
}

header .container nav ul:last-child li:first-child {
    margin-right: 60px;
}

header .container nav ul li a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

header .container nav ul:first-child li a {
    padding: 20px 12px;
    color: var(--white-color);
    font-size: 20px;
}

header .container nav ul:last-child li a {
    padding: 12px;
    font-size: 15px;
}

header .container nav ul:last-child li:first-child a {
    color: var(--white-color);
}

header .container nav ul:last-child li:last-child a {
    width: fit-content;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border-radius: 25px;
    transition: color 0.3s;
}

header .container nav ul:first-child li a:hover {
    color: var(--third-color);
}

header .container nav ul:last-child li:first-child a:hover,
header .container nav ul:last-child li:last-child a:hover {
    color: var(--third-color);
}

@media (min-width: 992px) {
    header .container a.logo {
        flex-basis: 120px;
    }

    header .container i {
        display: none;
    }

    header .container nav {
        flex-basis: calc(95% - 120px);
        background-color: var(--white-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        position: initial;
        padding: 0;
    }

    header .container nav ul:first-child {
        display: flex;
        align-items: center;
    }

    header .container nav ul:last-child {
        flex-basis: 210px;
    }

    header .container nav ul:first-child li a {
        color: var(--secondary-color);
        font-size: 15px;
    }

    header .container nav ul:last-child li:first-child {
        margin-right: 20px;
    }

    header .container nav ul:last-child li:first-child a {
        color: var(--secondary-color);
    }

    header .container nav ul:last-child li:last-child a {
        background-color: var(--color-background);
    }
}

@media (min-width: 1200px) {
    header .container nav {
        flex-basis: calc(87% - 120px);
    }
}

/* End Header */
/* Start Landing */
.landing {
    background-color: var(--white-color);
    position: relative;
    top: 100px;
    padding-bottom: var(--section-padding);
}

.landing .container {
    display: flex;
    flex-direction: column;
}

.landing .color-div {
    display: none;
}

.landing .container .image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.landing .container .image .first-image {
    position: relative;
}

.landing .container .image .first-image img {
    display: block;
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
}

.landing .container .quote {
    max-width: 340px;
    padding: 30px;
    background-color: var(--secondary-color);
    position: absolute;
    left: -30px;
    bottom: -20px;
    right: -10%;
    border-radius: 15px;
    z-index: 4;
}

.landing .container .quote::before {
    content: '"';
    position: absolute;
    color: #f2b300;
    font-size: 174px;
    font-style: italic;
    font-weight: 500;
    top: -30px;
    left: -55px;
}

.landing .container .quote p,
.landing .container .quote span {
    font-weight: 500;
    font-style: italic;
    font-size: 13px;
    line-height: 1.92;
}

.landing .container .quote p {
    color: var(--white-color)
}

.landing .container .quote span {
    display: block;
    width: fit-content;
    color: #f2b300;
    margin: 15px 0 0 auto;
}

.landing .container .info {
    text-align: center;
}

.landing .container .info h1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.6;
    color: var(--secondary-color);
    margin-top: 60px;
    margin-bottom: 40px;
}

.landing .container .info p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.92;
    color: var(--secondary-color);
}

.landing .container .info a {
    color: var(--white-color);
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    margin: 45px auto 0;
    transition: background-color 0.3s;
}

.landing .container .info a:hover {
    background-color: #4e07c1
}

.landing .container .image .second-image img {
    display: none;
}

@media (max-width: 575px) {
    .landing .container .image .first-image {
        width: 80%;
    }

}

@media (min-width: 768px) {
    .landing .container .info h1 {
        margin-top: 40px;
    }

    .landing .container .quote {
        left: -30px;
        bottom: 20px;
    }
}

@media (min-width: 992px) {
    .landing {
        top: 200px;
    }

    .landing .container .image .second-image img {
        display: block;
        position: absolute;
        right: -7vw;
        top: 50%;
        transform: translateY(-50%);
    }

    .landing .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .landing .container .info {
        order: -1;
        text-align: left;
        flex-basis: 470px;
    }

    .landing .container .info a {
        margin: 45px 0 0 0;
    }

    .landing .color-div {
        display: block;
        position: absolute;
        background-color: var(--color-background);
        height: 100%;
        width: 400px;
        right: 0;
        top: -100px;
        z-index: 2;
    }

    .landing .container .quote p,
    .landing .container .quote span {
        font-size: 15px;
        line-height: 1.66;
    }

    .landing .container .info h1 {
        font-size: 66px;
        line-height: 1.5;
    }

    .landing .container .info p {
        font-size: 15px;
        line-height: 1.66;
    }

    .landing .container .info a {
        font-size: 15px;
    }
}

/* End Landing */
/* Start Partners */
.partners {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-top: 100px;
    background-color: var(--color-background);
}

.partners .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.partners .container .partner {
    cursor: pointer;
}

.partners .container .partner:hover svg path {
    fill: var(--third-color);
}

@media (min-width: 992px) {
    .partners {
        margin-top: 200px;
    }
}

/* End Partners */
/*  Start Services  */
.services {
    background-color: var(--white-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .container .content-services .service {
    border-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    text-align: center;
}

.services .container .content-services .service img {
    display: block;
    width: 40px;
    height: 40px;
}

.services .container .content-services .service h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.66;
    color: var(--secondary-color);
}

.services .container .content-services .service p {
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    color: var(--secondary-color);
}

@media (min-width: 992px) {

    .services .container .content-services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
    }

    .services .container .content-services .service {
        align-items: flex-start;
        text-align: left;
        gap: 30px;
        padding: 0;
    }

    .services .container .content-services .service h4 {
        font-size: 20px;
        line-height: 1.5;
    }

    .services .container .content-services .service p {
        font-size: 15px;
        line-height: 1.73;
    }
}

/*  End Services  */
/* Start Creativity  */
.creativity {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--color-background);
    margin-top: var(--section-padding);
}

.creativity .container .content-creativity {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.creativity .container .content-creativity .images {
    width: fit-content;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    margin-right: auto;
    margin-left: auto;
}

.creativity .container .content-creativity .images .first-div,
.creativity .container .content-creativity .images .second-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.creativity .container .content-creativity .images .first-div {
    gap: 40px;
    margin-bottom: 20px;
}

.creativity .container .content-creativity .images .first-div img,
.creativity .container .content-creativity .images .second-div img {
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.creativity .container .content-creativity .images .first-div img[alt="creativity_01"] {
    max-width: 50%;
}

.creativity .container .content-creativity .images .first-div img[alt="creativity_02"] {
    max-width: 35%;
}

.creativity .container .content-creativity .images .second-div {
    gap: 20px;
}

.creativity .container .content-creativity .images .second-div img[alt="creativity_03"] {
    max-width: 30%;
}

.creativity .container .content-creativity .images .second-div img[alt="creativity_04"] {
    max-width: 38%;
}

.creativity .container .content-creativity .info {
    text-align: center;
    color: var(--secondary-color);
}

.creativity .container .content-creativity .info p:first-of-type {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.66;
    margin: 40px 0 30px 0;
}

.creativity .container .content-creativity .info p:last-of-type {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.92;
    margin: 30px 0 40px 0;
}

.creativity .container .content-creativity .info h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
}

.creativity .container .content-creativity .info .links a {
    display: inline-block;
}

.creativity .container .content-creativity .info .links a:first-of-type {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: var(--white-color);
    transition: background-color 0.3s;
    margin-right: 15px;
}

.creativity .container .content-creativity .info .links a:first-of-type:hover {
    background-color: #4e07c1;
}

.creativity .container .content-creativity .info .links a:last-of-type {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    transition: color 0.3s, border-color 0.3s;
}

.creativity .container .content-creativity .info .links a:last-of-type:hover {
    color: var(--third-color);
    border-color: var(--third-color);
}

@media (min-width: 768px) {
    .creativity .container .content-creativity {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .creativity {
        height: 520px;
    }

    .creativity .container .content-creativity {
        display: grid;
        grid-template-columns: 475px 1fr;
        justify-items: end;
    }

    .creativity .container .content-creativity .images {
        margin-right: initial;
        margin-left: initial;
    }

    .creativity .container .content-creativity .info {
        order: -1;
        text-align: left;
        align-self: center;
        margin-top: -100px;
    }

    .creativity .container .content-creativity .info p:first-of-type {
        font-size: 17px;
        line-height: 1.35;
        margin-top: 0;
    }

    .creativity .container .content-creativity .info p:last-of-type {
        font-size: 15px;
        line-height: 1.66;

    }

    .creativity .container .content-creativity .info h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .creativity .container .content-creativity .info .links a {
        font-size: 15px;
    }
}


/* End Creativity  */

/* Start Projects */
.projects {
    background-color: var(--white-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.projects .container .content-projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.projects .container .content-projects .project {
    background-color: var(--white-color);
}

.projects .container .content-projects .project .image {
    border-radius: 14px 14px 19px 14px;
}

.projects .container .content-projects .project .image a img {
    width: 100%;
    border-radius: 14px 14px 19px 14px;
    transition: opacity 0.3s;
}

.projects .container .content-projects .project .image:hover img {
    opacity: 0.6;
}

.projects .container .content-projects .project .text {
    text-align: center;
    color: var(--secondary-color);
    padding: 20px;
}

.projects .container .content-projects .project .text h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 20px;
}

.projects .container .content-projects .project .text p {
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
}

.projects .container .footer a {
    color: var(--white-color);
    background-color: var(--third-color);
    margin: 45px auto 0;
    transition: background-color 0.3s;
}

.projects .container .footer a:hover {
    background-color: #4e07c1
}

@media (min-width: 768px) {
    .projects .container .content-projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects .container .content-projects .project .text {
        text-align: left;
        padding: 0;
    }

    .projects .container .content-projects .project .text h4 {
        margin-top: 20px;
    }

    .projects .container .content-projects .project .text p {
        margin-bottom: 20px;
    }
}

@media (min-width:992px) {
    .projects {
        margin-top: var(--section-padding);
    }

    .projects .container .content-projects .project .text h4 {
        font-size: 20px;
        line-height: 1.5;
    }

    .projects .container .content-projects .project .text p {
        font-size: 15px;
        line-height: 1.73;
    }

    .projects .container .footer a {
        font-size: 15px;
    }
}

/* End Projects */
/* Start Second Creativity */

.second-creativity {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--color-background);
    margin-top: var(--section-padding);
}

.second-creativity .container .content-second-creativity {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.second-creativity .container .content-second-creativity .images {
    width: fit-content;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}

.second-creativity .container .content-second-creativity .images img {
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    max-width: 100%;
}

.second-creativity .container .content-second-creativity .info {
    color: var(--secondary-color);
}

.second-creativity .container .content-second-creativity .info p:first-of-type {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.66;
    margin: 40px 0 30px 0;
}

.second-creativity .container .content-second-creativity .info p:last-of-type {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.92;
    margin: 30px 0 40px 0;
}

.second-creativity .container .content-second-creativity .info h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
}

.second-creativity .container .content-second-creativity .info .links a {
    display: inline-block;
}

.second-creativity .container .content-second-creativity .info .links a:first-of-type {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: var(--white-color);
    transition: background-color 0.3s;
    margin-right: 15px;
}

.second-creativity .container .content-second-creativity .info .links a:first-of-type:hover {
    background-color: #4e07c1;
}

.second-creativity .container .content-second-creativity .info .links a:last-of-type {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    transition: color 0.3s, border-color 0.3s;
}

.second-creativity .container .content-second-creativity .info .links a:last-of-type:hover {
    color: var(--third-color);
    border-color: var(--third-color);
}

@media (min-width: 768px) {
    .second-creativity .container .content-second-creativity {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .second-creativity {
        height: 520px;
    }

    .second-creativity .container .content-second-creativity {
        display: grid;
        grid-template-columns: 500px 1fr;
        justify-items: start;
    }

    .second-creativity .container .content-second-creativity .images {
        margin-right: initial;
        margin-left: initial;
    }

    .second-creativity .container .content-second-creativity .info {
        text-align: left;
        align-self: center;
        margin-top: -100px;
    }

    .second-creativity .container .content-second-creativity .info p:first-of-type {
        font-size: 17px;
        line-height: 1.35;
        margin-top: 0;
    }

    .second-creativity .container .content-second-creativity .info p:last-of-type {
        font-size: 15px;
        line-height: 1.66;

    }

    .second-creativity .container .content-second-creativity .info h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .second-creativity .container .content-second-creativity .info .links a {
        font-size: 15px;
    }
}

/* End Second Creativity */