/* Start Css Globale  Rules */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-color: #ffffff;
    --secondary-color: #0b093b;
    --third-color: #7620ff;
    --section-padding: 50px;
    --color-background: #f5f5f5;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1140px;
    }
}

/* Start Compenent */
.main-heading {
    margin-bottom: calc(var(--section-padding) * 2);
    text-align: center;
}

.main-heading h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 2.14;
    color: var(--secondary-color);
}

.main-heading p {
    font-weight: 400;
    font-size: 13px;
    line-height: 2.30;
    color: var(--secondary-color);
}

@media (min-width: 992px) {
    .main-heading {
        text-align: left;
    }

    .main-heading h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .main-heading p {
        max-width: 760px;
        font-size: 15px;
        line-height: 2;
    }
}

.general-link {
    display: block;
    text-decoration: none;
    width: 124px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 25px;
}

/* End Compenent */
/* End Css Globale  Rules */
/* Start Header */

header {
    background-color: var(--white-color);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header .container {
    background-color: var(--white-color);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container a.logo svg text {
    font-weight: 600;
    fill: var(--secondary-color);
    transition: fill 0.3s;
}

header .container a.logo:hover svg text {
    fill: var(--third-color);
}

header .container i {
    cursor: pointer;
    font-size: 25px;
}

header .container nav {
    background-color: var(--secondary-color);
    flex-direction: column;
    gap: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0 60px 60px 40px;
}

header .container nav.show {
    display: flex;
}

header .container nav ul:last-child {
    display: flex;
    align-items: center;
}

header .container nav ul:last-child li:first-child {
    margin-right: 60px;
}

header .container nav ul li a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.3s;
}

header .container nav ul:first-child li a {
    padding: 20px 12px;
    color: var(--white-color);
}

header .container nav ul:last-child li a {
    padding: 10px;
}

header .container nav ul:last-child li:first-child a {
    color: var(--white-color);
}

header .container nav ul:last-child li:last-child a {
    padding: 0;
    background-color: var(--white-color);
    color: var(--secondary-color);
}

header .container nav ul:first-child li a:hover {
    color: var(--third-color);
}

header .container nav ul:last-child li:first-child a:hover,
header .container nav ul:last-child li:last-child a:hover {
    color: var(--third-color);
}

@media (min-width: 992px) {
    header .container a.logo {
        flex-basis: 120px;
    }

    header .container i {
        display: none;
    }

    header .container nav {
        flex-basis: calc(95% - 120px);
        background-color: var(--white-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        position: initial;
        padding: 0;
    }

    header .container nav ul:first-child {
        display: flex;
        align-items: center;
    }

    header .container nav ul:last-child {
        flex-basis: 210px;
    }

    header .container nav ul:first-child li a {
        color: var(--secondary-color);
        font-size: 15px;
    }

    header .container nav ul:last-child li:first-child {
        margin-right: 20px;
    }

    header .container nav ul:last-child li:first-child a {
        color: var(--secondary-color);
    }

    header .container nav ul:last-child li:last-child a {
        background-color: var(--color-background);
    }
}

@media (min-width: 1200px) {
    header .container nav {
        flex-basis: calc(87% - 120px);
    }
}

/* End Header */
/* Start Landing */
.landing {
    background-color: var(--white-color);
    position: relative;
    top: 100px;
    padding-bottom: var(--section-padding);
}

.landing .color-div {
    display: none;
}

.landing .container .images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.landing .container .images .first-image {
    position: relative;
}

.landing .container .images .first-image img {
    display: block;
    max-width: 100%;
    border-radius: 15px;
}

.landing .container .quote {
    max-width: 340px;
    padding: 30px;
    background-color: var(--secondary-color);
    position: absolute;
    left: -30px;
    bottom: -20px;
    border-radius: 15px;
    width: 120%;
}

.landing .container .quote::before {
    content: '"';
    position: absolute;
    color: #f2b300;
    font-size: 174px;
    font-style: italic;
    font-weight: 500;
    top: -30px;
    left: -55px;
}

.landing .container .quote p,
.landing .container .quote span {
    font-weight: 500;
    font-style: italic;
    font-size: 13px;
    line-height: 1.92;
}

.landing .container .quote p {
    color: var(--white-color)
}

.landing .container .quote span {
    display: block;
    width: fit-content;
    color: #f2b300;
    margin-left: auto;
    margin-top: 15px;
}

.landing .container .info {
    text-align: center;
}

.landing .container .info h1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.6;
    color: var(--secondary-color);
    margin-top: 60px;
    margin-bottom: 40px;
}

.landing .container .info p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.92;
    color: var(--secondary-color);
}

.landing .container .info a {
    color: var(--white-color);
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    margin: 45px auto 0;
    transition: background-color 0.3s;
    font-weight: 500;
    font-size: 13px;
}

.landing .container .info a:hover {
    background-color: #4e07c1
}

.landing .container .images .second-image {
    display: none;
}

@media (max-width: 575px) {
    .landing .container .images .first-image {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .landing {
        top: 200px;
    }

    .landing .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .landing .container .images .second-image {
        display: block;
        position: absolute;
        right: -7vw;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }

    .landing .container .info {
        flex-basis: 470px;
        order: -1;
        text-align: left;
    }

    .landing .container .info a {
        font-size: 15px;
        margin: 45px 0 0 0;
    }

    .landing .color-div {
        display: block;
        position: absolute;
        background-color: var(--color-background);
        height: 100%;
        width: 500px;
        right: 0;
        top: -100px;
    }

    .landing .container .quote p,
    .landing .container .quote span {
        font-size: 15px;
        line-height: 1.66;
    }

    .landing .container .info h1 {
        font-size: 66px;
        line-height: 1.5;
        margin-top: 0;
    }

    .landing .container .info p {
        font-size: 15px;
        line-height: 1.66;
    }
}

/* End Landing */
/* Start Partners */
.partners {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-top: calc(var(--section-padding) * 2);
    background-color: var(--color-background);
}

.partners .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.partners .container .partner {
    cursor: pointer;
}

.partners .container .partner:hover svg path {
    fill: var(--third-color);
}

@media (min-width: 992px) {
    .partners {
        margin-top: calc(var(--section-padding) * 4);
    }
}

/* End Partners */
/*  Start Services  */
.services {
    background-color: var(--white-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .container .content-services {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.services .container .content-services .service:not(:last-child) {
    margin-bottom: 60px;
}

.services .container .content-services .service {
    border-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.services .container .content-services .service img {
    width: 40px;
    height: 40px;
}

.services .container .content-services .service h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.66;
    color: var(--secondary-color);
}

.services .container .content-services .service p {
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    color: var(--secondary-color);
}

@media (min-width: 992px) {
    .services .container .content-services {
        max-width: 100%;
    }

    .services .container .content-services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
    }

    .services .container .content-services .service {
        align-items: flex-start;
        text-align: left;
        gap: 30px;
        padding: 0;
    }

    .services .container .content-services .service:not(:last-child) {
        margin-bottom: 0;
    }

    .services .container .content-services .service h4 {
        font-size: 20px;
        line-height: 1.5;
    }

    .services .container .content-services .service p {
        font-size: 15px;
        line-height: 1.73;
    }
}

/*  End Services  */
/* Start Creativity  */
.creativity {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--color-background);
    margin-top: var(--section-padding);
}

.creativity .container .content-creativity {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.creativity .container .content-creativity .images {
    width: fit-content;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    margin-right: auto;
    margin-left: auto;
}

.creativity .container .content-creativity .images .first-div,
.creativity .container .content-creativity .images .second-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.creativity .container .content-creativity .images .first-div {
    gap: 40px;
    margin-bottom: 20px;
}

.creativity .container .content-creativity .images .first-div img,
.creativity .container .content-creativity .images .second-div img {
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.creativity .container .content-creativity .images .first-div img[alt="creativity_01"] {
    max-width: 50%;
}

.creativity .container .content-creativity .images .first-div img[alt="creativity_02"] {
    max-width: 35%;
}

.creativity .container .content-creativity .images .second-div {
    gap: 20px;
}

.creativity .container .content-creativity .images .second-div img[alt="creativity_03"] {
    max-width: 30%;
}

.creativity .container .content-creativity .images .second-div img[alt="creativity_04"] {
    max-width: 38%;
}

.creativity .container .content-creativity .info {
    text-align: center;
    color: var(--secondary-color);
}

.creativity .container .content-creativity .info p:first-of-type {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.66;
    margin: 40px 0 30px 0;
}

.creativity .container .content-creativity .info p:last-of-type {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.92;
    margin: 30px 0 40px 0;
}

.creativity .container .content-creativity .info h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 2.14;
}

.creativity .container .content-creativity .info .links a {
    display: inline-block;
}

.creativity .container .content-creativity .info .links a:first-of-type {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: var(--white-color);
    transition: background-color 0.3s;
    margin-right: 15px;
    font-weight: 500;
    font-size: 13px;
}

.creativity .container .content-creativity .info .links a:first-of-type:hover {
    background-color: #4e07c1;
}

.creativity .container .content-creativity .info .links a:last-of-type {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    transition: color 0.3s, border-color 0.3s;
}

.creativity .container .content-creativity .info .links a:last-of-type:hover {
    color: var(--third-color);
    border-color: var(--third-color);
}

@media (min-width: 768px) {
    .creativity .container .content-creativity {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .creativity {
        height: 520px;
    }

    .creativity .container .content-creativity {
        display: grid;
        grid-template-columns: 475px auto;
        justify-content: space-between;
    }

    .creativity .container .content-creativity .images {
        margin-right: initial;
        margin-left: initial;
    }

    .creativity .container .content-creativity .info {
        order: -1;
        text-align: left;
        align-self: center;
        margin-top: -100px;
    }

    .creativity .container .content-creativity .info p:first-of-type {
        font-size: 17px;
        line-height: 1.35;
        margin-top: 0;
    }

    .creativity .container .content-creativity .info p:last-of-type {
        font-size: 15px;
        line-height: 1.66;

    }

    .creativity .container .content-creativity .info h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .creativity .container .content-creativity .info .links a:first-of-type,
    .creativity .container .content-creativity .info .links a:last-of-type {
        font-size: 15px;
    }
}


/* End Creativity  */

/* Start Projects */
.projects {
    background-color: var(--white-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.projects .container .content-projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.projects .container .content-projects .project {
    background-color: var(--white-color);
}

.projects .container .content-projects .project .image {
    border-radius: 14px 14px 19px 14px;
}

.projects .container .content-projects .project .image a img {
    width: 100%;
    border-radius: 14px 14px 19px 14px;
    transition: opacity 0.3s;
}

.projects .container .content-projects .project .image:hover img {
    opacity: 0.6;
}

.projects .container .content-projects .project .text {
    text-align: center;
    color: var(--secondary-color);
    padding: 20px;
}

.projects .container .content-projects .project .text h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 20px;
}

.projects .container .content-projects .project .text p {
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
}

.projects .container .footer a {
    color: var(--white-color);
    background-color: var(--third-color);
    margin: 45px auto 0;
    transition: background-color 0.3s;
    font-weight: 500;
    font-size: 13px;
}

.projects .container .footer a:hover {
    background-color: #4e07c1
}

@media (min-width: 768px) {
    .projects .container .content-projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects .container .content-projects .project .text {
        text-align: left;
        padding: 0;
    }

    .projects .container .content-projects .project .text h4 {
        margin-top: 20px;
    }

    .projects .container .content-projects .project .text p {
        margin-bottom: 20px;
    }
}

@media (min-width:992px) {
    .projects {
        margin-top: var(--section-padding);
    }

    .projects .container .content-projects .project .text h4 {
        font-size: 20px;
        line-height: 1.5;
    }

    .projects .container .content-projects .project .text p {
        font-size: 15px;
        line-height: 1.73;
    }

    .projects .container .footer a {
        font-size: 15px;
    }
}

/* End Projects */
/* Start Second Creativity */
.second-creativity {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--color-background);
    margin-top: var(--section-padding);
}

.second-creativity .container .content-second-creativity {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.second-creativity .container .content-second-creativity .images {
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    border-radius: 15px;
}

.second-creativity .container .content-second-creativity .images img {
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    max-width: 100%;
}

.second-creativity .container .content-second-creativity .info {
    color: var(--secondary-color);
}

.second-creativity .container .content-second-creativity .info p:first-of-type {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.66;
    margin: 40px 0 30px 0;
}

.second-creativity .container .content-second-creativity .info p:last-of-type {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.92;
    margin: 30px 0 40px 0;
}

.second-creativity .container .content-second-creativity .info h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 2.14;
}

.second-creativity .container .content-second-creativity .info .links a {
    display: inline-block;
}

.second-creativity .container .content-second-creativity .info .links a:first-of-type {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: var(--white-color);
    transition: background-color 0.3s;
    margin-right: 15px;
    font-weight: 500;
    font-size: 13px;
}

.second-creativity .container .content-second-creativity .info .links a:first-of-type:hover {
    background-color: #4e07c1;
}

.second-creativity .container .content-second-creativity .info .links a:last-of-type {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    transition: color 0.3s, border-color 0.3s;
}

.second-creativity .container .content-second-creativity .info .links a:last-of-type:hover {
    color: var(--third-color);
    border-color: var(--third-color);
}

@media (min-width: 768px) {
    .second-creativity .container .content-second-creativity {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .second-creativity {
        height: 520px;
        margin-bottom: var(--section-padding);
    }

    .second-creativity .container .content-second-creativity {
        display: grid;
        grid-template-columns: 430px 1fr;
        gap: 80px;
    }

    .second-creativity .container .content-second-creativity .images {
        margin-right: initial;
        margin-left: initial;
    }

    .second-creativity .container .content-second-creativity .info {
        text-align: left;
        align-self: center;
        margin-top: -100px;
    }

    .second-creativity .container .content-second-creativity .info p:first-of-type {
        font-size: 17px;
        line-height: 1.35;
        margin-top: 0;
    }

    .second-creativity .container .content-second-creativity .info p:last-of-type {
        font-size: 15px;
        line-height: 1.66;
    }

    .second-creativity .container .content-second-creativity .info h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .second-creativity .container .content-second-creativity .info .links a:first-of-type,
    .second-creativity .container .content-second-creativity .info .links a:last-of-type {
        font-size: 15px;
    }
}

/* End Second Creativity */
/* Start Blogs */
.blogs {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.blogs .container .content-section-blogs {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.blogs .container .content-section-blogs .blog {
    color: var(--secondary-color);
    cursor: pointer;
    transition: opacity 0.3s;
}

.blogs .container .content-section-blogs .blog:hover {
    opacity: 0.5;
}

.blogs .container .content-section-blogs .blog h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.66;
}

.blogs .container .content-section-blogs .blog p:first-of-type {
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    margin: 25px 0;
}

.blogs .container .content-section-blogs .blog p:last-of-type {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.53;
    margin-bottom: 15px;
}

.blogs .container .content-section-blogs .blog a {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    font-size: 13px;
    color: var(--secondary-color);
    background-color: #C4FFFF;
    border: 1px solid #C4FFFF;
}

@media (min-width:768px) {
    .blogs .container .content-section-blogs {
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:992px) {
    .blogs .container .content-section-blogs .blog h4 {
        font-size: 20px;
        line-height: 1.5;
    }

    .blogs .container .content-section-blogs .blog p:first-of-type {
        font-size: 15px;
        line-height: 1.73;
    }

    .blogs .container .content-section-blogs .blog p:last-of-type {
        font-size: 15px;
        line-height: 1.33;
    }

    .blogs .container .content-section-blogs .blog a {
        font-size: 15px;
    }
}

/* End Blogs */
/* Start Quotations */
.quotations {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--color-background);
}

.quotations .container .content-section-quotations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.quotations .container .content-section-quotations .quote {
    padding: 30px;
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 15px;
}

.quotations .container .content-section-quotations .quote::before {
    content: '"';
    position: absolute;
    color: #f2b300;
    font-size: 174px;
    font-style: italic;
    font-weight: 500;
    top: -39px;
    left: 50%;
    transform: translateX(-100%);
}

.quotations .container .content-section-quotations .quote p,
.quotations .container .content-section-quotations .quote span {
    font-weight: 500;
    font-style: italic;
    font-size: 13px;
    line-height: 1.92;
}

.quotations .container .content-section-quotations .quote p {
    color: var(--white-color)
}

.quotations .container .content-section-quotations .quote span {
    display: block;
    width: fit-content;
    color: #f2b300;
    margin: 15px 0 0 auto;
}

@media (min-width: 992px) {

    .quotations .container .content-section-quotations .quote p,
    .quotations .container .content-section-quotations .quote span {
        font-size: 15px;
        line-height: 1.66;
    }

}

/* End Quotations */
/* Start Pricing */
.pricings {
    background-color: var(--white-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricings .container .content-section-pricings {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pricings .container .content-section-pricings .pricing:not(:last-child) {
    margin-bottom: 60px;
}

.pricings .container .content-section-pricings .pricing .header {
    color: var(--secondary-color);
}

.pricings .container .content-section-pricings .pricing .header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricings .container .content-section-pricings .pricing .header>div img {
    width: 40px;
    height: 40px;
}

.pricings .container .content-section-pricings .pricing .header>div span,
.pricings .container .content-section-pricings .pricing .header span {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.84;
}

.pricings .container .content-section-pricings .pricing .header span.type {
    display: block;
    margin: 20px 0;
}

.pricings .container .content-section-pricings .pricing .header p {
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 20px;
}

.pricings .container .content-section-pricings .pricing .body ul li {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.66;
    padding: 8px 40px;
    position: relative;
}

.pricings .container .content-section-pricings .pricing:nth-child(1) .body ul li:nth-child(-n+2)::before,
.pricings .container .content-section-pricings .pricing:nth-child(2) .body ul li:nth-child(-n+4)::before,
.pricings .container .content-section-pricings .pricing:nth-child(3) .body ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #49CB86;
    margin-right: 8px;
    position: absolute;
    left: 20px;
    transform: translateX(-50%);
}

.pricings .container .content-section-pricings .pricing .footer a {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: var(--white-color);
    transition: background-color 0.3s;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 13px;
}

.pricings .container .content-section-pricings .pricing .footer a:hover {
    background-color: #4e07c1;
}

@media (min-width:768px) {
    .pricings .container .content-section-pricings {
        max-width: 60%;
    }
}

@media (min-width:992px) {
    .pricings .container .content-section-pricings {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }

    .pricings .container .content-section-pricings .pricing:not(:last-child) {
        margin-bottom: 0;
    }

    .pricings .container .content-section-pricings .pricing .header>div span,
    .pricings .container .content-section-pricings .pricing .header span {
        font-size: 30px;
        line-height: 1.53;
    }

    .pricings .container .content-section-pricings .pricing .header p {
        font-size: 15px;
        line-height: 1.73;
    }

    .pricings .container .content-section-pricings .pricing .body ul li {
        font-size: 20px;
        line-height: 1.5;
    }

    .pricings .container .content-section-pricings .pricing .footer a {
        font-size: 15px;
    }
}

/* End Pricing */
/* Start Contact Us */
.contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--color-background);
}

.contact-us .container .content-section-contact-us form label {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.53;
    color: var(--secondary-color);
}

.contact-us .container .content-section-contact-us form input:not(input[type="submit"]),
.contact-us .container .content-section-contact-us form textarea {
    background-color: var(--color-background);
    border: none;
    padding: 20px 10px;
    border-bottom: 1px solid var(--secondary-color);
    width: 100%;
    margin-bottom: 20px;
    caret-color: var(--secondary-color);
}

.contact-us .container .content-section-contact-us form textarea {
    height: 150px;
    resize: none;
}

.contact-us .container .content-section-contact-us form input[type="submit"] {
    display: block;
    width: 135px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    font-size: 13px;
    color: var(--white-color);
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    margin: 30px auto;
    transition: background-color 0.3s;
}

.contact-us .container .content-section-contact-us form input[type="submit"]:hover {
    background-color: #4e07c1
}

.contact-us .container .content-section-contact-us form input:focus,
.contact-us .container .content-section-contact-us form textarea:focus {
    outline: none;
}

.contact-us .container .content-section-contact-us form input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    color: var(--secondary-color);
}

.contact-us .container .content-section-contact-us .images {
    display: flex;
    gap: 30px;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.contact-us .container .content-section-contact-us .images .first-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-us .container .content-section-contact-us .images img {
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    max-width: 100%;
}

@media (min-width: 992px) {
    .contact-us .container .content-section-contact-us {
        display: grid;
        grid-template-columns: 475px auto;
        align-items: center;
        justify-content: space-between;
    }

    .contact-us .container .content-section-contact-us .images {
        margin-left: initial;
        margin-right: initial;
    }

    .contact-us .container .content-section-contact-us form input[type="submit"] {
        font-size: 15px;
        margin-bottom: 0;
    }

    .contact-us .container .content-section-contact-us form label {
        font-size: 15px;
        line-height: 1.33;
    }

    .contact-us .container .content-section-contact-us form input::placeholder {
        font-size: 18px;
        line-height: 1.66;
    }
}

/* End Contact Us */
/* Start Footer */
footer {
    background-color: var(--secondary-color);
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
}

footer .container {
    text-align: center;
}

footer .container a:first-of-type svg text {
    fill: var(--white-color);
}

footer .container p {
    color: var(--white-color);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.38;
    margin-top: 20px;
}

footer .container p span {
    color: var(--third-color);
}

footer .container a:last-of-type {
    display: none;
}

@media (min-width:992px) {
    footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .container p {
        font-size: 15px;
        line-height: 1.2;
        margin: 0;
    }

    footer .container a:last-of-type {
        display: block;
        text-decoration: none;
        color: var(--white-color);
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;
    }
}

/* End Footer */